<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980744812429-onbtesme4nja0aidc389vsm6dtpbhf6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980744812429-onbtesme4nja0aidc389vsm6dtpbhf6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDp3Y7FuJ5tp9Y5T75sGLYFItdPWSOzLO8</string>
	<key>GCM_SENDER_ID</key>
	<string>980744812429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ansan.Big-Bite</string>
	<key>PROJECT_ID</key>
	<string>bigbite-97c0d</string>
	<key>STORAGE_BUCKET</key>
	<string>bigbite-97c0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980744812429:ios:63980d83c25cfed8982fc4</string>
</dict>
</plist>